



<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>
</head>
<body>


       <h1> Student Details </h1>

       <!-- ###############################################################################################################

        ###########################################################################################################3-->
       <table id = "personal-details">
              <tr>
              <th>Roll Number</th>
              <th>First Name</th>
              <th>Last Name</th>
              </tr>
              <tr>
              <td>{{  roll_ }} </td>
              <td> {{  f_name  }} </td>
              <td> {{   l_name   }} </td>
              </tr>
       </table>




       <br><br>


       <h1> Enrollment list </h1>

       <!-- ###############################################################################################################

        ###########################################################################################################3-->
       <table id = "enroll-table">
              <thead>
                     <tr>
                            <th>SNo</th>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Course Description</th>
                            <th>Actions</th>
                            </tr>
              </thead>


              <tbody>
                     {% for course_ in studet_courses_  %}
                     <tr> 
                            <td> {{ studet_courses_.index(course_) + 1 }} </td>
                            <td> {{ course_.course.course_code  }} </td>
                            <td> {{   course_.course.course_name  }} </td>
                            <td> {{  course_.course.course_description  }} </td>
                            <td> 
                                   <a href="/student/{{ student_id }}/withdraw/{{ course_.course.course_id }}">Withdraw</a>
                            </td>
                     </tr>
                     {% endfor %}
              </tbody>
       </table>

       <br> <br>

       <a href="/"> Go Back </a>


       
</body>
</html>







