<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>
</head>
<body>
       
              
       <h1> Update Student </h1>


       
       <form action="/student/{{ student_id_ }}/update" method="POST" id="update-form">


              <div>
              <label>Roll Number:</label>
              <input type="text" name="roll" value="{{ current_roll }}" disabled />
              </div>


              <br>
              

              <div>
              <label>First Name:</label>
              <input type="text" name="f_name" value="{{ current_f_name }}" required />
              </div>

              <br>

              <div>
              <label>Last Name:</label>
              <input type="text" name="l_name" value="{{ current_l_name }}"/>
              </div>


              <br>


               
              <!--  -->
              <div>
                     <label for="courses">Select Course: </label>
                     <select name="course" id="course">
                            {% for course_ in avilable_courses_ %}
                                   <option value="{{ course_.course_id }}"> {{ course_.course_name }} </option>
                            {% endfor %}
                     </select>
              </div>


              <br>


              <div>
              <input type="submit" value = "Submit">
              </div>

              
       </form>









       
</body>
</html>