<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>
</head>
<body>
       
       <h1> Update Student </h1>


       
       <form action="/student/{{ student_id_ }}/update" method="POST" id="update-form">


              <div>
              <label>Roll Number:</label>
              <input type="text" name="roll" value="{{ current_roll }}" disabled />
              </div>


              <br>
              

              <div>
              <label>First Name:</label>
              <input type="text" name="f_name" value="{{ current_f_name }}" required />
              </div>

              <br>

              <div>
              <label>Last Name:</label>
              <input type="text" name="l_name" value="{{ current_l_name }}"/>
              </div>


              <br>


              <div>
              <label>Select Courses: </label>
              <input type="checkbox" name="courses" value="course_1" {% if 1 in enrolled_course %} {{checked}} {% endif %} />
              <label>MAD I</label>
              <input type="checkbox" name="courses" value="course_2"  {% if 2 in enrolled_course %} {{checked}} {% endif %} />
              <label>DBMS</label>
              <input type="checkbox" name="courses" value="course_3"  {% if 3 in enrolled_course %} {{checked}} {% endif %} />
              <label>PDSA</label>
              <input type="checkbox" name="courses" value="course_4"  {% if 4 in enrolled_course %} {{checked}} {% endif %} />
              <label>BDM</label>
              </div>



              <div>
              <input type="submit" value = "Submit">
              </div>

              
       </form>



</body>
</html>



